*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	/*background color: #f7f8fd;*/
	background-image: linear-gradient(to right,rgba(75, 59, 50, 0.5) 25%,rgba(128, 64, 18, 0.08));
}

img{
	width: 100%;
}

.container{
	max-width: 1300px;
	margin: 0px 190px;
}


.active{
    background-image: linear-gradient(70deg ,#AA6C39 30%,#5C3317);
    color: #fff;
    padding: 12px;
    border-radius: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.section_nav{
	display: grid;
    grid-template-columns: 10% 45% 25%;
	width: 100%;
	background-color: #fff;
	height: 100px;
	margin-top: 1rem;
	border-radius: 12px;
	box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
	padding: 1rem 1rem;
    display: flex;
	justify-content: space-between;

}

.d-flex{
	display: flex;
}

.align-items-center{
	align-items: center;
}

.left-nav{
height: 100%;
}

.section-logo{
   display: flex;
   align-items: center;
}

.box-img-logo{
	min-width: 50px;

}
.center-nav{
	width: 50%;
}
.center-nav ul{
	justify-content: space-between;
	height: 100%;
	font-size: 0.8;
}




/* hover for menu items */
ul li:hover{
    transition: all 850ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -ms-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
	border-bottom: 3px solid #744F30;
	transform: scaleX(0);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);

}



/* space between list items */
ul li{
	margin: 10px;
}


/* items goes back in short form of site */
.left-content-header{
	z-index: -2;
}
.right-content-header{
	z-index: -2;
}




/* the p text get aligned with up texts */
.left-content-header p {
    margin: 0.5rem 0 0.5rem 0;
    color: #333333;
    margin-left: 4rem;
}





/* arrow icon */
/*.arrow-icon{
    position: relative;
}
.arrow-icon::before{
    content: '';
    border-bottom: 2px solid #000;
    height: 4px;
    display: block;
    border-right: 2px solid #000;
    width: 4px;
    position: absolute;
    right: 105%;
    top: 43%;
    transform: rotate(42deg);
    transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    -moz-transition: transform 0.15s ease-in-out;
    -ms-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
}
.arrow-icon:hover::before{
    transform: rotate(218deg);
    -webkit-transform: rotate(218deg);
    -moz-transform: rotate(218deg);
    -ms-transform: rotate(218deg);
    -o-transform: rotate(218deg);
}
*/




a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}


ul{
	list-style-type: none;

}

.user-section{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.box-img-logo{
	width: 65px;
}

.right-nav{
	justify-content: end;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	gap: 1rem;
	
}

.group-icon{
	gap: 2rem;
	display: flex;
	margin-right: 0.5rem;
}


.profile-user img{
    width: 30px;
    height: 30px;
}

.status-connection{
	width: 66px;
	background-color: #f7eedf;
	padding: 0.4rem;
	border-radius: 18px;
	text-align: center;
	color: #000000;
}







@media screen and (max-width:1500px) {
    .box-img-log {
        min-width: 36px;
    }
    .section-logo {
        font-size: 0.9rem;
    }
    .center-nav ul li a{
        font-size: 0.9rem;
    }
    .active {
        padding: 6px;
    }  
    .group-icon a svg{
        width: 13px;
    } 
    .status-connection {
        width: 55px;
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    .profile-user {
        width: 30px;
        height: 30px;
    }
    .section-nav {
        grid-template-columns: 3% 42% 4%;
    }  





    .btn-form1{
        margin-top: 60rem;
        margin-left: -75rem;
        position: relative;
    }

    .btn-form2{
        margin-top: 60px;
        margin-left: -25rem;
    }

    .btn-form3{
        margin-top: 60px;
        margin-left: -25rem;
    }

    .btn-form4{
        margin-top: 160px;
        margin-left: -25rem;
    }








}

@media screen and (min-width:968px) {
    .nav-mobile{
        display: none;
    }
}
@media screen and (max-width:968px) {
    .center-nav{
        display: none;
    }
    .box-img-logo {
        min-width: 8px;
    }
    /*.section-log h3{
        font-size: 0.5rem;
    }*/
    .group-icon a svg {
        width: 10px;
    }
    .group-icon {
        gap: 1.4rem;
        margin-right: 1rem;
    }
    .status-connection {
        width: 46px;
        font-size: 0.5rem;
    }
    .section-nav {
        padding: 1rem;
    }
}







.list-nav-mobile{
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    width: 200px;
    transform: translateX(-350px);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    padding: 2rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.5rem;
    text-align: left;
    overflow-x: hidden;
}

#toggle-nav:checked + label + ul{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
#toggle-nav:checked + label span:first-child{
    transform: rotate(127deg);
    position: relative;
    top: -4px;
}   
#toggle-nav:checked + label span.line-mid{
    transform: translateX(10px);
    opacity: 0;

}
#toggle-nav:checked + label span:last-child{
    position: relative;
    top: -15px;
    transform: rotate(58deg);
}


.line{
    border-bottom: 2px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
    transition: all 260ms ease-out;
    -webkit-transition: all 260ms ease-out;
    -moz-transition: all 260ms ease-out;
    -ms-transition: all 260ms ease-out;
    -o-transition: all 260ms ease-out;
}
.section-nav {
    grid-template-columns: 3% 89% 3%;
}
.label-toggle-nav{
    position: relative;
    top: 26px;
}



/*new changes*/

.txt-1 h3{
	display: flex;
	margin-top: 1rem;
	padding: 1rem 1rem;
	justify-content: inherit;
    font-size: 17px;
    padding: 2rem;
    height: 3.5rem;
    text-align: center;
}


.txt-2 h3{
	display: flex;
	margin-top: 1rem;
	padding: 1rem 1rem;
	justify-content: inherit;
    font-size: 17px;
    padding: 2rem;
    height: 3.5rem;
    text-align: center;
}


.txt-3 h3{
	display: flex;
	margin-top: 1rem;
	padding: 1rem 1rem;
	justify-content: inherit;
    font-size: 17px;
    padding: 2rem;
    height: 3.5rem;
    text-align: center;
}


.txt-4 h3{
	display: flex;
	margin-top: 1rem;
	padding: 1rem 1rem;
	justify-content: inherit;
    font-size: 17px;
    padding: 2rem;
    height: 3.5rem;
    text-align: center;
}






.btn-form1{
  cursor: pointer;
  margin-top: 110px;
  margin-left: 565px;
  position: center;
  border: none;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
  border-radius: 6px;
  padding: 9px 14px;
  font-size: 13px;
  transition: 120ms;
  transition-delay: 120ms;
}
.btn-form1:hover{
  background-color: #CFB7A4;
}

.btn-form1 a{
  color: black;
  font-weight: lighter;
}





.btn-form2{
  cursor: pointer;
  margin-top: 59px;
  margin-left: 565px;
  position: center;
  border: none;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
  border-radius: 6px;
  padding: 9px 14px;
  font-size: 13px;
  transition: 120ms;
  transition-delay: 120ms;
}
.btn-form2:hover{
  background-color: #CFB7A4;
}

.btn-form2 a{
  color: black;
  font-weight: lighter;
}



.btn-form3{
  cursor: pointer;
  margin-top: 85px;
  margin-left: 565px;
  position: center;
  border: none;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
  border-radius: 6px;
  padding: 9px 14px;
  font-size: 13px;
  transition: 120ms;
  transition-delay: 120ms;
}
.btn-form3:hover{
  background-color: #CFB7A4;
}

.btn-form3 a{
  color: black;
  font-weight: lighter;
}



.btn-form4{
  cursor: pointer;
  margin-top: 160px;
  margin-left: 565px;
  position: center;
  border: none;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
  border-radius: 6px;
  padding: 9px 14px;
  font-size: 13px;
  transition: 120ms;
  transition-delay: 120ms;
  margin-bottom: 20px;
}
.btn-form4:hover{
  background-color: #CFB7A4;
}

.btn-form4 a{
  color: black;
  font-weight: lighter;
}











.footer{
    width: 100%;
    height: 250px;
    background: #948278;
    margin: 20px auto 0;
    position: relative;
}
.main-footer{
    margin: 0 auto;
    width: 300px;
    height: 200px;
}
.about{
    height:200px;
    position: relative;
    margin-left: -27rem;
    margin-top: -5rem;
}



.about{
	width: 250px;
	margin-top: 2rem;
}
.about h5{
	margin-top: 2rem;
    font:1px sans-serif;
    color: #e2e2e2;
    padding:22px;
    margin: 15px auto;
}
.about p{
	margin-top: -1rem;
    font:13px sans-serif;
    color: #e2e2e2;
    text-align: left;
}
.social{
    width: 250px;
    margin: 0 50px;
    float: right;
    margin-right: 4rem;
    margin-top: -13.8rem;
}
.about h5 , .social h5 {
    font:16px sans-serif;
    color: #e2e2e2;
    padding:5px;
    margin: 20px auto;
}
.lists ul{
	display: flex;
	width: 35%;
}
.lists ul li{
    float: right;
    margin: -2px 2px;
}
.lists ul li img{
border-radius: 20%;
}
.about h5 , .social h5 , .access h5{
    font:16px sans-serif;
    color: #e2e2e2;
    padding:5px;
    margin: 20px auto;
}
.access{
    width: 200px;
    float: right;
    margin-right: -20rem;
    margin-top: -13.8rem;
}
.access ul li a{
    font:13px sans-serif;
    color: #e2e2e2;
    margin: 2px;
}

/*
.access ul li a:hover{
    color: #4c7d89;
}
*/

