/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  background-color: #7A5C43;
}

.container{
  background-color: #fff;
  max-width: 1100px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 35px;
}

.content{
  height: 100%;
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
}
.content .left-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  position: relative;
  
}
.content .left-content::before{
  content: '';
  background-color: #afafb6;
  width: 2px;
  height: 70%;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 20px;
}
.content .right-content{
  width: 75%;
  height: 100%;
  padding-left: 75px;
}
.content .right-content h4{
  font-size: 23px;
  font-weight: 680;
  color: #7B573B;
}
.info-contact{
  text-align: center;
  margin-bottom: 22px;
}
.info-contact i{
  font-size: 30px;
  color: #7B573B;
  margin-bottom: 10px;
}
.info-contact h5{
  font-size: 19px;
  font-weight: 500;
}
.info-contact span{
  font-size: 14px;
  display: block;
  color: #afafb6;
}
.input-box{
  width: 100%;
  height: 55px;
  margin: 12px 0;
}
.input-box input,.input-box textarea{
  border: none;
  background-color: #f0f1f8;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border-radius: 6px;
  font-size: 16px;
  resize: none;
  font-family: 'Poppins';
}
.right-content .textarea-box{
  min-height: 110px;
}

.btn-form{
  cursor: pointer;
  margin-top: 12px;
  border: none;
  background-color: #7B573B;
  color: #fff;
  border-radius: 6px;
  padding: 11px 16px;
  font-size: 18px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.btn-form:hover{
  background-color: #5D3C22 ;
}

@media screen and (max-width:820px) {
  .container{
    width: 90%;
    margin-top: 200px;
    align-items: center;
  }
  .content{
    flex-direction: column-reverse;
  }
  .content .left-content{
    width: 100%;
    flex-direction: revert;
    flex-wrap: wrap;
  }
  .content .right-content{
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .content .left-content::before {
    display: none;
  }
}
