*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	/*background color: #f7f8fd;*/
	background-image: linear-gradient(to right,rgba(75, 59, 50, 0.5) 25%,rgba(128, 64, 18, 0.08));
}



.txt-1{
	margin-top: 30px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-1 img{
	width: 13%;
	height: 13%;
	float: right;
	margin: auto;
	margin-left: 2rem;
	margin-right: -0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}



.txt-2{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-3 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-3{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-4{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-4 img{
	width: 19%;
	height: 19%;
	float: left;
	margin: auto;
	margin-left: -0.2rem;
	margin-right: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
}


.txt-5{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-6{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-7{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-8{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-8 img{
	width: 10%;
	height: 10%;
	float: left;
	margin: auto;
	margin-left: -0.2rem;
	margin-right: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}


.txt-9 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-9{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-10{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-11{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-12 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-12{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-13 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-13{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-14{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-14 img{
	width: 15%;
	height: 15%;
	float: right;
	margin: auto;
	margin-left: 2rem;
	margin-right: -0.2rem;
	margin-top: 3.5rem;
	margin-bottom: 12rem;
	border-radius: 1rem;
}



.txt-15 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-15{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-16{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-16 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: auto;
	margin-left: -0.2rem;
	margin-right: 2rem;
	margin-top: 2.2rem;
	margin-bottom: 8rem;
	border-radius: 7rem;
}



.txt-17 h2{
	text-align: left;
	margin-bottom: 0.4rem;
	margin-top: 3rem;
}
.txt-17{
	margin-top: 50px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: left;
}

.txt-17 img{
	width: 15%;
	height: 15%;
	float: right;
	margin: auto;
	margin-left: 2rem;
	margin-right: -0.2rem;
	margin-top: 2.2rem;
	margin-bottom: 7rem;
	border-radius: 7rem;
}







.txt-18 h2{
	text-align: right;
	margin-top: 50px;
	margin-bottom: 0.4rem;
}
.txt-18{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: right;
}
.txt-18 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: auto;
	margin-left: -0.2rem;
	margin-right: 2rem;
	margin-top: 2.2rem;
	margin-bottom: 12rem;
	border-radius: 7rem;
}


.txt-19 h2{
	text-align: left;
	margin-top: 50px;
	margin-bottom: 0.4rem;
}
.txt-19{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-19 img{
	width: 15%;
	height: 15%;
	float: right;
	margin: auto;
	margin-left: 2rem;
	margin-right: -0.4rem;
	margin-top: 2.2rem;
	margin-bottom: 10rem;
	border-radius: 7rem;
}


.txt-20 h2{
	text-align: right;
	margin-top: 50px;
	margin-bottom: 0.4rem;
}
.txt-20{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: right;
}
.txt-20 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: auto;
	margin-left: -0.2rem;
	margin-right: 2rem;
	margin-top: 2.2rem;
	margin-bottom: 10rem;
	border-radius: 7rem;
}


.txt-21 h2{
	text-align: left;
	margin-top: 50px;
	margin-bottom: 0.4rem;
}
.txt-21{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-21 img{
	width: 15%;
	height: 15%;
	float: right;
	margin: auto;
	margin-left: 2rem;
	margin-right: -0.2rem;
	margin-top: 2.2rem;
	margin-bottom: 2rem;
	border-radius: 7rem;
}


.txt-22 h2{
	text-align: right;
	margin-top: 50px;
	margin-bottom: 0.4rem;
}
.txt-22{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
