*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	/*background color: #f7f8fd;*/
	background-image: linear-gradient(to right,rgba(75, 59, 50, 0.5) 25%,rgba(128, 64, 18, 0.08));
}



.txt-1{
	margin-top: 30px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-2{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-3{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}

.txt-4 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-4{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-5{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}

.txt-6 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-6{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-7{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-7 img{
	width: 18%;
	height: 18%;
	float: right;
	margin: auto;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 4.4rem;
	margin-bottom: 6rem;
	border-radius: 1rem;
}


.txt-8{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-9{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-10 h2{
	text-align: left;
	margin-bottom: 0.4rem;
}
.txt-10{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-11{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}



.txt-12{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}


.txt-13{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
}
.txt-13 img{
	width: 15%;
	height: 15%;
	float: left;
	margin: auto;
	margin-left: 0.6rem;
	margin-right: 1.5rem;
	margin-top: 5rem;
	margin-bottom: 6rem;
	border-radius: 1rem;
}


.txt-14 h2{
	text-align: left;
	margin-bottom: 0.4rem;
	margin-top: 2rem;
}
.txt-14{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
    margin-bottom: 40px;
}


.txt-15{
	margin-top: 19px;
	margin-left: 3rem;
	margin-right: 3rem;
	text-align: center;
    margin-bottom: 40px;
}




